@model IEnumerable<Device>

<table class="table table-bordered table-striped">
    <tr>
        <th>Numer Inwentarzowy</th>
        <th>Numer Seryjny</th>
        <th>Opis</th>
        <th>Typ urządzenia</th>
        <th>Akcje</th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.InventoryNo</td>
            <td>@d.SerialNo</td>
            <td>@d.DeviceDesc</td>

            <td>@d.Type.TypeName</td>
            <td>
                <a asp-action="Edit" class="btn btn-sm- btn-warning" asp-route-deviceId="@d.DeviceId">Edytuj</a>
            </td>

        </tr>
    }
</table>

