@model IEnumerable<Device>
@{
    ViewBag.Title = "Lista sprzętu do weryfikacji do dnia " + DateTime.Today.AddMonths(1).ToShortDateString();
    Layout = "_AdminLayout";

}

    <table id="dt_list" class="table table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>Numer kalibracji</th>
                <th>Nazwa urządzenia</th>
                <th>Producent</th>
                <th>Typ urządzenia</th>
                <th>Numer seryjny</th>
                <th data-priority="1">Miejsce użytkowania</th>
                <th>Odpowiedzialny</th>
                <th>Data Nast. Wer.</th>

                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@String.Format("{0:D5}", d.RegistrationNo) </td>
                    <td>@d.Type.DeviceName</td>
                    <td>@d.Type.Producer.ProducerName</td>
                    <td>@d.Type.TypeName</td>
                    <td>@d.SerialNo</td>
                    <td>@d.Place.PlaceName</td>
                    <td>@d.UserId</td>
                    <td>@d.TimeToVerification.Value.ToShortDateString()</td>

                    <td>
                        <a asp-action="Edit" class="btn btn-sm btn-info" asp-route-deviceId="@d.DeviceId">Edytuj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

