@model IEnumerable<Measuring_equipment.Models.Laboratory>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


<table class="table" id="dt_rest" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accreditation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoryDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accreditation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratoryDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LaboratoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LaboratoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LaboratoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>